@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Poppins';
    overflow-x: hidden;
}

body {
    font-family: 'Poppins';
    overflow-x: hidden;
}

.text-gradient {
    -webkit-text-fill-color: transparent;
    background: linear-gradient(320deg, #0bf, #ffffff);
    -webkit-background-clip: text;
}

.bg-gradient {
    background-color: #1167DC;
}

.sbi-overlay {
    background: linear-gradient(180deg, rgba(0, 38, 87, 0), #1167DC);
    bottom: 0;
    height: 30%;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 10;
}